{%extends 'web/dbase.ejs'%} {%load static%} {%block headers%} {%endblock%} {%block body%}
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Add Movie Subcategory</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="#" id="fileUploadForm" method="POST">
                                    <div class="form-group">
                                        <input type="text" name="title" id="Title" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="MovieCat" name="category"> </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" id="imageOne" name="image">
                                    </div>
                                    <div class="form-group ">
                                        <button id="btnSubmit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-danger">cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
    //Category Get
    var select = document.getElementById("MovieCat");
    $.get({
        url: "/category_js",
        dataType: "json",
        success: function(data, id) {
            console.log(data);
            for (i = 0; i < data.categories.length; i++) {
                // console.log(data)
                var catID = data.categories.id;
                var option = document.createElement("OPTION"),
                    txt = document.createTextNode(data.categories[i].title);
                option.appendChild(txt);
                option.setAttribute("value", data.categories[i].id);
                select.insertBefore(option, select.lastChild);
            }
        }
    });
</script>
<script>
    $(document).ready(function() {
        $("#btnSubmit").click(function(event) {
            event.preventDefault();
            var form = $('#fileUploadForm')[0];
            var data = new FormData(form);
            var token = '{{csrf_token}}';
            data.append("data.object", "data.all.form");

            //Validation
            var name = $('#Title').val();
            if (name.length < 1) {
                Swal.fire("Error", 'Title-field is empty.', "error");
                $("#btnSubmit").prop("enabled", true);
                return false;
            }

            var cat = $('#MovieCat').val();
            if (cat.length < 1) {
                Swal.fire("Error", 'Category-field is empty.', "error");
                $("#btnSubmit").prop("enabled", true);
                return false;
            }

            var image = $('#imageOne').val();
            if (image.length < 1) {
                Swal.fire("Error", 'Image-field is empty.', "error");
                $("#btnSubmit").prop("enabled", true);
                return false;
            }

            $("#btnSubmit").prop("disabled", true);

            var urlId = window.location.pathname.split('/')[1]
            var PostUrl;
            if (urlId == 0) {
                PostUrl = '/0/PostMoviesSubCategory'
            } else {
                PostUrl = '/' + urlId + '/PostMoviesSubCategory';
            }

            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: "POST",
                enctype: 'multipart/form-data',
                url: PostUrl,
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                async: true,
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function(evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = (evt.loaded / evt.total) * 100;
                            console.log("Uploading...");
                            $('div.progress > div.progress-bar').css({
                                "width": percentComplete + "%"
                            });
                        }
                    }, false);
                    return xhr;
                },
                success: function(data) {
                    $("#result").text(data);
                    console.log("SUCCESS : ", data);
                    $("#btnSubmit").prop("disabled", false);
                    window.location.href = "/moviesubcategorylist";
                },
                error: function(e) {
                    $("#result").text(e.responseText);
                    console.log("ERROR : ", e);
                    $("#btnSubmit").prop("enabled", false);
                }
            });
        });
    });
</script>
{%endblock%}