<% include ../../partials/dashheader %>
      <!-- Page Content  -->
      <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch.iq-mb-3">
                        <img src="../assets/images/show-thumb/07.jpg" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">Arrival 1999</h4>
                            <p class="card-text">Quality : Full HD<br>
                                                 Category : Thriller<br>
                                                 Seasons : 2 Seasons<br>
                                                 Language : English</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-mb-3">
                        <img src="../assets/images/show-thumb/08.jpg" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">Day of Darkness</h4>
                            <p class="card-text">Quality : Full HD<br>
                            Category : Drama<br>
                            Seasons : 3 Seasons<br>
                            Language : English</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-mb-3">
                        <img src="../assets/images/show-thumb/06.jpg" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">Don Jon</h4>
                            <p class="card-text">Quality : HD<br>
                            Category : Action<br>
                            Seasons : 3 Seasons<br>
                            Language : Hindi</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-mb-3">
                        <img src="../assets/images/show-thumb/04.jpg" class="card-img-top" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">Megafun</h4>
                            <p class="card-text">Quality : Full HD<br>
                            Category : Horror<br>
                            Seasons : 3 Seasons<br>
                            Language : English</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-mb-3">
                        <img src="../assets/images/show-thumb/10.jpg" class="card-img-top" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">My True Friends</h4>
                            <p class="card-text">Quality : HD<br>
                            Category : Action<br>
                            Seasons : 1 Seasons<br>
                            Language : Hindi</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-mb-3">
                        <img src="../assets/images/show-thumb/01.jpg" class="card-img-top" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">Night Mare</h4>
                            <p class="card-title"> Quality : HD<br>
                                                   Category : Thriller<br>
                                                   Seasons : 2 Seasons<br>
                                                   Language : English</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-mb-3">
                        <img src="../assets/images/show-thumb/05.jpg" class="card-img-top" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">Portable</h4>
                            <p class="card-text">Quality : HD<br>
                            Category : Horror<br>
                            Seasons : 1 Seasons<br>
                            Language : Hindi</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-mb-3">
                        <img src="../assets/images/show-thumb/02.jpg" class="card-img-top" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">Suffered</h4>
                            <p class="card-text">Quality : Full HD<br>
                            Category : Drama<br>
                            Seasons : 4 Seasons<br>
                            Language : English</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-mb-3">
                        <img src="../assets/images/show-thumb/03.jpg" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">The Witcher</h4>
                            <p class="card-text">Quality : Full HD<br>
                            Category : Action<br>
                            Seasons : 3 Seasons<br>
                            Language : Hindi</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-mb-3">
                        <img src="../assets/images/show-thumb/09.jpg" alt="#">
                        <div class="iq-card-body">
                            <h4 class="card-title">Troll Hunters</h4>
                            <p class="card-text">Quality : Full HD<br>
                            Category : Horror<br>
                            Seasons : 1 Seasons<br>
                            Language : English</p>
                            <div class="flex align-items-center list-user-action">
                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                        class="ri-delete-bin-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
           
        </div>
    </div>
<% include ../../partials/dashfooter %>