<% include ../../partials/dashheader %>
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Video Ads List</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="add-category.html" class="btn btn-primary">Add Video ads</a>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-view">
                            <table class="data-tables table movie_table " style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">Name</th>
                                        <th style="width:20%;">Image</th>
                                        <th style="width:40%;">Description</th>
                                        <th style="width:10%;">Video</th>
                                        <th style="width:20%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Drama</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <div class="iq-movie">
                                                    <a href="javascript:void(0);"><img src="../assets/images/show-thumb/04.jpg" class="img-border-radius avatar-40 img-fluid" alt=""></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus non elit a scelerisque. Etiam feugiat luctus est, vel commodo odio rhoncus sit amet
                                            </p>
                                        </td>
                                        <td>
                                            <div class="media align-items-center">
                                                <video src="rabbit320.webm" controls>
                                                    <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
                                                  </video>
                                            
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                                        class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Action</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <div class="iq-movie">
                                                    <a href="javascript:void(0);"><img src="../assets/images/show-thumb/04.jpg" class="img-border-radius avatar-40 img-fluid" alt=""></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus non elit a scelerisque. Etiam feugiat luctus est, vel commodo odio rhoncus sit amet
                                            </p>
                                        </td>
                                        <td>
                                            <div class="media align-items-center">
                                                <video src="rabbit320.webm" controls>
                                                    <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
                                                  </video>
                                            
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                                        class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Thriller</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <div class="iq-movie">
                                                    <a href="javascript:void(0);"><img src="../assets/images/show-thumb/04.jpg" class="img-border-radius avatar-40 img-fluid" alt=""></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus non elit a scelerisque. Etiam feugiat luctus est, vel commodo odio rhoncus sit amet
                                            </p>
                                        </td>
                                        <td><div class="media align-items-center">
                                            <video src="rabbit320.webm" controls>
                                                <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
                                              </video>
                                        
                                        </div></td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                                        class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Thriller</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <div class="iq-movie">
                                                    <a href="javascript:void(0);"><img src="../assets/images/show-thumb/04.jpg" class="img-border-radius avatar-40 img-fluid" alt=""></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus non elit a scelerisque. Etiam feugiat luctus est, vel commodo odio rhoncus sit amet
                                            </p>
                                        </td>
                                        <td>
                                            <div class="media align-items-center">
                                                <video src="rabbit320.webm" controls>
                                                    <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
                                                  </video>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                                        class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Action</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <div class="iq-movie">
                                                    <a href="javascript:void(0);"><img src="../assets/images/show-thumb/04.jpg" class="img-border-radius avatar-40 img-fluid" alt=""></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus non elit a scelerisque. Etiam feugiat luctus est, vel commodo odio rhoncus sit amet
                                            </p>
                                        </td>
                                       
                                        <td>
                                            <div class="media align-items-center">
                                                <video src="rabbit320.webm" controls>
                                                    <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
                                                  </video>
                                            
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                                        class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Horror</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <div class="iq-movie">
                                                    <a href="javascript:void(0);"><img src="../assets/images/show-thumb/04.jpg" class="img-border-radius avatar-40 img-fluid" alt=""></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus non elit a scelerisque. Etiam feugiat luctus est, vel commodo odio rhoncus sit amet
                                            </p>
                                        </td>
                                        <td>
                                            <div class="media align-items-center">
                                                <video src="rabbit320.webm" controls>
                                                    <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
                                                  </video>
                                            
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                                        class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Action</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <div class="iq-movie">
                                                    <a href="javascript:void(0);"><img src="../assets/images/show-thumb/04.jpg" class="img-border-radius avatar-40 img-fluid" alt=""></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus non elit a scelerisque. Etiam feugiat luctus est, vel commodo odio rhoncus sit amet
                                            </p>
                                        </td>
                                        <td>
                                            <div class="media align-items-center">
                                                <video src="rabbit320.webm" controls>
                                                    <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
                                                  </video>
                                        
                                           </div>
                                        </td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                                        class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Drama</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <div class="iq-movie">
                                                    <a href="javascript:void(0);"><img src="../assets/images/show-thumb/04.jpg" class="img-border-radius avatar-40 img-fluid" alt=""></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus non elit a scelerisque. Etiam feugiat luctus est, vel commodo odio rhoncus sit amet
                                            </p>
                                        </td>
                                        <td>
                                            <div class="media align-items-center">
                                                <video src="rabbit320.webm" controls>
                                                    <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
                                                  </video>
                                            
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i
                                        class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                        
                                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<% include ../../partials/dashfooter %>